/* 
    Document   : main
    Created on : Mar 10, 2014, 12:07:16 PM
    Author     : pashish
    Description:
        Purpose of the stylesheet follows.
*/

body {
    padding-top: 40px;
}
 
.form-signup, .form-signin {
    width: 400px;
    margin: 0 auto;
}